{%  extends "layout.html.twig" %}

{%  block content_header %}
    <div class="masthead-subheading">Le détail de la chose que TU as choisis..</div>
    <div class="masthead-heading text-uppercase">.. à faire avant de mourir !</div>
    <a class="btn btn-primary btn-xl text-uppercase display-6" id="btn-list" href="{{ url('app_list') }}">THE liste</a>
{% endblock %}

{%  block main %}
    <h2 class="display-4 titre-idee">{{ idea.title }}</h2>
    <div class="blockquote-footer text-center">
        <p>{{ idea.category.name }}</p>
    </div>
    <div class="description-idee">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>{{ idea.description }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                By {{ idea.author }}, le {{ idea.dateCreated | date("d.m.Y") }}.
            </figcaption>
        </figure>
    </div>
{% endblock %}