{%  extends "layout.html.twig" %}
{%  block content_header %}
    <div class="masthead-subheading">Voilà THE liste..</div>
    <div class="masthead-heading text-uppercase">.. des choses à faire avant de mourir !</div>

{% endblock %}
{%  block main %}
    {#    le message est paramétré ici, car je veux qu'il s'affiche sur la page après chargement/envoie acceptation de la requête#}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

        <div class="tableau-idees">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idea in ideas %}
                        <tr>
                            <td colspan="2"> <a href="{{ path('app_detail',{id:idea.id })}}">{{ idea.title }}</a> </td>
                            <td colspan="2"> <a href="{{ path('app_detail',{id:idea.id })}}">{{ idea.category.name }}</a> </td>
                            <td colspan="2"> <a href="{{ path('app_detail',{id:idea.id })}}">{{ idea.category.id }}</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



{% endblock %}
